.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 98;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: relative;
  z-index: 99;
  width: 90%;
  max-width: 500px;
  max-height: 100%;
  margin: 0 auto;
}

.modal_close {
  position: absolute;
  padding: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  top: -12.5px;
  right: -12.5px;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  font-weight: bold;
  font-size: 14px;
}

.modal_body {
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  border-radius: 8px;
}
